%p
  #{payload.repo_name} #{message_from_coverage_change(payload.coverage_change)}
  %span.label{class: 'label-info'}#{tow_places_of_float(payload.covered_percent)}%
  on #{payload.branch} after commit:

  #{payload.commit_message} by #{payload.committer_name}
